<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= typeof title != 'undefined' ? title: 'Equitycare Global' %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="https://devsnews.com/template/pairgiver/pairgiver/site.webmanifest/">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <!-- preloader -->
    <!-- <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div> -->
    <!-- preloader end  -->
    <!-- header-area start -->
    <header id="top-menu">
        <% if (!userSession) { %>
        <div class="header-top-area theme-bg pt-10 pb-10 d-none d-lg-block">
            <div class="container custom-container">
                <div class="header-top-bg">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="top-right-nav text-right">
                                <ul>
                                    <li><a href="/caregiver-login">Employee-In-Service</a></li>
                                    <li><a href="/admin-login">Administrator</a></li>
                                    <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <div class="main-header-area">
            <div class="container custom-container">
                <div class="main-header-bg">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-2 col-lg-3 col-md-6 col-6">
                            <div class="logo">
                                <a class="logo-img" href="/"><img src="/assets/img/logo/Equity.png"
                                        alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8 d-none d-lg-block">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li><a href="/">Home</i></a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/services">Our Services</i></a></li>
                                        <li><a href="/our-rates">Our Rates</i></a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/faq">FAQs</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-1 col-md-6 col-6 text-right">
                            <div class="hamburger-menu d-lg-block d-xl-none">
                                <a href="javascript:void(0);">
                                    <i class="far fa-bars"></i>
                                </a>
                            </div>
                            <div class="main-header-right-one d-none d-xl-block d-xl-flex align-items-center ">
                                <% if (userSession) { %>
                                    <div class="logout">
                                        <a href="/logout" class="theme_btn">Logout <i class="fal fa-long-arrow-right"></i></a>
                                    </div>
                                <% } else { %>
                                    <div class="donate">
                                        <a href="/get-started" class="theme_btn">Get Started <i class="fal fa-long-arrow-right"></i></a>
                                    </div>
                                <% } %>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="close-mobile-menu">
            <a href="javascript:void(0);"><i class="fas fa-times"></i></a>
        </div>

        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu">
            <ul id="mobile-menu-active">
                <li><a href="/">Home</i></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</i></a></li>
                <li><a href="/our-rates">Our Rates</i></a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/become-a-caregiver">Become a caregiver</a></li>
            </ul>
        </nav>
        <!-- side-mobile-menu end -->
    </aside>
    <div class="body-overlay"></div>
    <!-- slide-bar end -->
    <main>
        <%- body -%>
    </main>

     <!--footer-area start-->
     <footer class="footer-area pos-rel theme-bg2 pt-100 pb-100">
        <!--scroll-target-btn-->
        <a href="#top-menu" class="scroll-target"><i class="far fa-chevron-up"></i></a>
        <!--scroll-target-btn-->
        <div class="container">
            <div class="subscribe-area mb-80">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                        <div class="section-title text-left mb-30">
                            <h6 class="mb-20"><i class="far fa-plus"></i> Newsletter Subscribe</h6>
                            <h2>Get More Update To
                                Subscribe Us</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-12">
                        <div class="footer-input mb-10 ml-30">
                            <div class="input-box">
                                <input type="text" class="form-control" placeholder="Enter Your Email">
                            </div>
                            <button><i class="fal fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right-area pt-20 pb-20 pr-50 pl-50">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="bottom-cta">
                            <span class="d-none d-lg-inline-block">Need Any Consultations For Senior Caring Please Conatct Us</span>
                            <span><a class="bottom_btn theme_btn" href="/contact">Get A Quote <i class="fal fa-long-arrow-right"></i></a></span>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="copyright text-right">
                            <p>© 2023 <a href="#">Equitycare.</a>  All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer-area end-->



    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.3.1.min"></script>
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/one-page-nav-min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.nice-select.js"></script>
    <script src="/assets/js/ajax-form.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.easypiechart.js"></script>
    <script src="/assets/js/tilt.jquery.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>