 <!--page-title-area start-->
 <section class="page-title-area" style="background-image: url(assets/img/bg/page-title-bg1.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="page-title-wrapper">
                    <div class="page-title-inner">
                        <div class="page-title-inner-content theme-bg">
                            <div class="page-title">
                                <h1 class="main-page-title">About Us</h1>
                            </div>
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title-area end-->
<!--about-company-area start-->
<section class="about-company-area about-area-02 pt-130 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="about-img pos-rel mb-30">
                    <div class="about-pair-img" data-tilt data-tilt-max="3">
                        <img src="assets/img/about/about3.jpg" alt="">
                    </div>
                    <div class="about-author mb-30">
                        <div class="author-coment white-bg">
                            <p>We provide high quality and compassionate care services to the elderly, individuals with disabilities and other individuals 
                                in need of personal care in the comfort of their homes.</p>
                            <div class="author author-02 d-flex align-items-center mt-25">
                                <div class="author__thumb mr-30">
                                    <img src="assets/img/about/about4.png" alt="">
                                </div>
                                <div class="author__desig">
                                    <h6 class="name">Michael C. Egan</h6>
                                    <span class="designation">CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="about-wrapper pl-70">
                    <div class="section-title mb-35">
                        <h6 class="mb-25"><i class="far fa-plus"></i>About Us</h6>
                        <h2>We Are All About Diversity</h2>
                    </div>
                    <div class="about-text d-sm-flex align-items-center mb-25">
                        <p>Are you in need of certified direct care assistant, or nurse? Are you passionate about caring for older people?
                            are you reliable? Can we trust you ? Are you in nigeria? If this sounds like you, we are definitely looking for you.
                            to find a caregiver (direct care assistant) or jobs please begin <a href="/get-started" class="text-primary">here</a>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about-company-area end-->
<!--counter-area start-->
<section class="counter-area-03  pos-rel">
    <div class="container">
        <div class="counter-bg counter-bg-02 theme-bg2 pt-80 pb-45 pl-70 pr-70" style="background-image: url(assets/img/bg/map-bg1.png);">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="counetrs counter-02 text-center mb-30 pr-25 pl-25">
                        <h1><span class="counter">300</span>+</h1>
                        <h5 class="semi-title mb-30">Expert Member</h5>
                        <p>Sed ut perspiciatis unde omnis
                            iste natus error sit voluptatem accus
                            antium dolore que laudan</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="counetrs counter-02 text-center mb-30 pr-25 pl-25">
                        <h1><span class="counter">653</span>+</h1>
                        <h5 class="semi-title mb-30">Quality Branch</h5>
                        <p>Sed ut perspiciatis unde omnis
                            iste natus error sit voluptatem accus
                            antium dolore que laudan</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="counetrs counter-02 text-center mb-30 pr-25 pl-25">
                        <h1><span class="counter">25</span>+</h1>
                        <h5 class="semi-title mb-30">Years Experience</h5>
                        <p>Sed ut perspiciatis unde omnis
                            iste natus error sit voluptatem accus
                            antium dolore que laudan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--counter-area end-->
<!--why-chose-area-03 start-->
<section class="why-chose-area-03 grey-bg pb-95">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="chose-wrapper chose-wrap-04 pr-70 mb-30">
                    <div class="section-title text-left mb-30">
                        <h6 class="mb-20"><i class="far fa-plus"></i> Why Choose Us</h6>
                        <h2>Trusted & Experience
                            Senior Care Provider</h2>
                    </div>
                    <div class="chose-inner d-flex align-items-center mb-30">
                       <div class="chose-inner__icon mr-30">
                            <i class="far fa-check"></i>
                       </div>
                       <div class="chose-inner__text">
                            <h6 class="inner-title">Our Mission</h6>
                            <p>Our mission is to enhance the quality of life for our clients by offering personalized
                                 care and assistance while promoting independence and dignity</p>
                       </div>
                   </div>
                   <div class="chose-inner d-flex align-items-center mb-30">
                       <div class="chose-inner__icon mr-30">
                            <i class="far fa-check"></i>
                       </div>
                       <div class="chose-inner__text">
                            <h6 class="inner-title">Where are we?</h6>
                            <p>We are in nigeria, west africa. However, we plan to stem to other parts of the world as we continue to scale. 
                            So if you are in nigeria, this is a great opportunity to either start an amazing career
                            with us or get the best care you desrve.</p>
                       </div>
                   </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="chose-img mb-30" data-tilt-max="2" data-tilt="">
                    <img class="img-fluid" src="assets/img/chose/chose4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--why-chose-area-03 end-->