<section class="contact-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="section-title text-center mb-15">
                    <h2>Enter verification OTP to continue</h2>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="" id="caregiver">
                    <form class="" action="" method="POST">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="input-area input-email">
                                    <input type="email" class="form-control" hidden name="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-area input-otp">
                                    <input type="text" class="form-control" name="otp" placeholder="Verfication OTP">
                                </div>
                            </div> <br><br>
                        </div>
                        <div class="col-12">
                            <div class="submit-btn submit-lg-btn2">
                                <button class="theme_btn" type="submit">Continue <i class="fal fa-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    const form = document.querySelector('#caregiver form');
    form.addEventListener('submit', function (e) {
        e.preventDefault();

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/auth/verify-caregiver-otp', true);

        xhr.onload = function () {
            if (xhr.status === 400) {
                const response = JSON.parse(xhr.responseText);
                alert(response.message);
            } else if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                alert(response.message);
            }
        };

        const payload = {
            email: form.elements['email'].value.trim(),
            password: form.elements['otp'].value,
        };

        console.log(JSON.stringify(payload))
        xhr.send(JSON.stringify(payload));
    });
</script>