<!--page-title-area start-->
<section class="page-title-area" style="background-image: url(assets/img/bg/page-title-bg1.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="page-title-wrapper">
                    <div class="page-title-inner">
                        <div class="page-title-inner-content theme-bg">
                            <div class="page-title">
                                <h1 class="main-page-title">FAQ</h1>
                            </div>
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title-area end-->
 <!--faq-area start-->
 <section class="faq-area-02 pt-125 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div id="accordion" class="accordion-box">
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">Why Choose Our Institute For Your Relatives
                                    ?</button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Best Institute For Senior Love & Caring ?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Trusated & Experience Senior Care Service Agency
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    We Are Started Since 1990s
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="true"
                                    aria-controls="collapseFive">How To Test Your React With The React Testing Library</button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">Between Static Generated Sites And Server-Side Rendered</button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven">Information And Information Architecture BIG Picture</button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseEight">Finding Inspiration In The Simple 2020 Wallpapers</button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseNine" aria-expanded="true"
                                    aria-controls="collapseNine">Smashing Podcast Episode 19 With Andy Bell Is CUBE</button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTen" aria-expanded="false"
                                    aria-controls="collapseTen">Django Highlights Wrangling Static Assets Media</button>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingEleven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseEleven" aria-expanded="false"
                                    aria-controls="collapseEleven">Finding Inspiration In The Simple 2020 Wallpapers</button>
                            </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingTwelve">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTwelve" aria-expanded="false"
                                    aria-controls="collapseTwelve">Smashing Podcast Episode 19 With Andy Bell Is CUBE</button>
                            </h5>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingThirteen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThirteen" aria-expanded="false"
                                    aria-controls="collapseThirteen">Django Highlights Wrangling Static Assets Media</button>
                            </h5>
                        </div>
                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut fugit, se</p>
                                <div class="accord-list">
                                    <li>A Book Release For Click! And A Chance To Rethink Our Routines</li>
                                    <li>How To Create A Custom React Hook To Fetch And Cache Data Removing Panic</li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="faq-widget-right">
                    <div class="faq-widget">
                        <div class="faq-widget-box text-center grey-bg mb-40">
                            <div class="faq-widget-img mb-25">
                                <img src="assets/img/chose/faq1.png" alt="">
                            </div>
                            <div class="faq-widget-text">
                                <p class="mb-10">Quis autem vel eum iure repreherit 
                                    qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui
                                    denounci pleasure and praising</p>
                                <h6>James P. Bailey</h6>
                            </div>
                        </div>
                    </div>
                    <div class="faq-widget">
                        <div class="contact-form-area service-form faq-form">
                            <div class="contact-title-box">
                                <h2 class="contact-title-02">Appointment</h2>
                            </div>
                            <form class="service-input-form grey-bg" action="#">
                                <div class="input-area mb-10">
                                    <input type="text" class="form-control" placeholder="Your Full Name">
                                </div>
                                <div class="input-area mb-10">
                                    <input type="text" class="form-control" placeholder="Your Email Address">
                                </div>
                                <div class="input-area mb-10">
                                    <input type="text" class="form-control" placeholder="General Inquiry">
                                </div>
                                <div class="input-message mb-10">
                                    <textarea name="message" id="message" cols="30" rows="10"
                                        placeholder="Message"></textarea>
                                </div>
                                <div class="submit-btn submit-lg-btn">
                                    <button class="theme_btn">Send Request <i class="fal fa-long-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--faq-area end-->