 <!--page-title-area start-->
 <section class="page-title-area" style="background-image: url(assets/img/bg/page-title-bg1.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="page-title-wrapper">
                    <div class="page-title-inner">
                        <div class="page-title-inner-content theme-bg">
                            <div class="page-title">
                                <h1 class="main-page-title">Services</h1>
                            </div>
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title-area end-->
<!--we-do-area start-->
<section class="we-do-area-02 pt-125">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="work-02 white-bg mb-30 text-center">
                    <div class="shadow-text">01</div>
                    <h3 class="work-title mb-25"><a href="#">Health Care</a></h3>
                    <div class="works__icon mb-25">
                        <i class="flaticon-old-people"></i>
                    </div>
                    <p class="mb-15">Sed ut perspiciatis unde omnis isteus
                        error sit voluptate accu antium</p>
                    <a href="services-details.html" class="more-btn3">Read More <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="work-02 white-bg mb-30 text-center">
                    <div class="shadow-text">02</div>
                    <h3 class="work-title mb-25"><a href="#">Food Care</a></h3>
                    <div class="works__icon mb-25">
                        <i class="flaticon-restaurant"></i>
                    </div>
                    <p class="mb-15">Sed ut perspiciatis unde omnis isteus
                        error sit voluptate accu antium</p>
                    <a href="services-details.html" class="more-btn3">Read More <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="work-02 white-bg mb-30 text-center">
                    <div class="shadow-text">03</div>
                    <h3 class="work-title mb-25"><a href="#">Physical Care</a></h3>
                    <div class="works__icon mb-25">
                        <i class="flaticon-dumbbell"></i>
                    </div>
                    <p class="mb-15">Sed ut perspiciatis unde omnis isteus
                        error sit voluptate accu antium</p>
                    <a href="services-details.html" class="more-btn3">Read More <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="work-02 white-bg mb-30 text-center">
                    <div class="shadow-text">04</div>
                    <h3 class="work-title mb-25"><a href="#">Tour & Travels</a></h3>
                    <div class="works__icon mb-25">
                        <i class="flaticon-airplane"></i>
                    </div>
                    <p class="mb-15">Sed ut perspiciatis unde omnis isteus
                        error sit voluptate accu antium</p>
                    <a href="services-details.html" class="more-btn3">Read More <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="work-02 white-bg mb-30 text-center">
                    <div class="shadow-text">05</div>
                    <h3 class="work-title mb-25"><a href="#">Event & Program</a></h3>
                    <div class="works__icon mb-25">
                        <i class="flaticon-dj"></i>
                    </div>
                    <p class="mb-15">Sed ut perspiciatis unde omnis isteus
                        error sit voluptate accu antium</p>
                    <a href="services-details.html" class="more-btn3">Read More <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="work-02 white-bg mb-30 text-center">
                    <div class="shadow-text">01</div>
                    <h3 class="work-title mb-25"><a href="#">Counselling</a></h3>
                    <div class="works__icon mb-25">
                        <i class="flaticon-network"></i>
                    </div>
                    <p class="mb-15">Sed ut perspiciatis unde omnis isteus
                        error sit voluptate accu antium</p>
                    <a href="services-details.html" class="more-btn3">Read More <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--we-do-area end-->
<!--promotion-area start-->
<section class="service-chose-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="chose-img mb-30" data-tilt-max="2" data-tilt="">
                    <img src="assets/img/chose/chose1.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="chose-wrapper pl-70">
                    <div class="section-title text-left mb-75">
                        <h6 class="mb-20"><i class="far fa-plus"></i> Why Choose Us</h6>
                        <h2>Trusted & Experience
                            Senior Care Provider</h2>
                    </div>
                    <p class="left-line pl-25">But I must explain to you how all this mistaken idea denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder</p>
                    <div class="chart-area d-sm-flex align-items-center justify-content-between mt-65 mr-70">
                        <div class="chart-box mb-30">
                            <div class="chart1 mb-15" data-percent="68" data-scale-color="#ffb400">
                               <h2 class="number">68<span>%</span></h2>
                            </div>
                            <h6 class="chart-title">Professional</br>
                                Member</h6>
                        </div>
                        <div class="chart-box mb-30">
                            <div class="chart2 mb-15" data-percent="90" data-scale-color="#ffb400">
                                <h2 class="number">98<span>%</span></h2> 
                            </div>
                            <h6 class="chart-title">Experience</br>
                                Agency</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--promotion-area end-->
<!--testimonial-area start-->
<section class="testimonial-area-04 pt-125 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="section-title text-center mb-75">
                    <h6 class="mb-20"><i class="far fa-plus"></i> Our Testimonials <i class="far fa-plus"></i>
                    </h6>
                    <h2>What Our Clients Say
                        About Our Caring</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-wrapper testimonial-wrapper-04">
            <div class="testimonial-active-02">
                <div class="testimonial-item grey-bg2 text-center">
                    <h5 class="semi-title mb-25">Sed perspiciat unde omnis iste error voluptate accusanm doloremque lauda
                        totam rem aperiam eaque ipsa quaes
                        tore veritatis et quasi architecto</h5>
                    <div class="testimonial-author d-flex align-items-center justify-content-center">
                        <div class="author-img mr-20">
                            <img src="assets/img/testimonial/testimonial2.png" alt="">
                        </div>
                        <div class="author-content text-left">
                            <h5 class="semi-title">Jon S. Svendsen</h5>
                            <span class="desig">CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item grey-bg2 text-center">
                    <h5 class="semi-title mb-25">Sed perspiciat unde omnis iste error voluptate accusanm doloremque lauda
                        totam rem aperiam eaque ipsa quaes
                        tore veritatis et quasi architecto</h5>
                    <div class="testimonial-author d-flex align-items-center justify-content-center">
                        <div class="author-img mr-20">
                            <img src="assets/img/testimonial/testimonial6.png" alt="">
                        </div>
                        <div class="author-content text-left">
                            <h5 class="semi-title">Shawn J. Brown</h5>
                            <span class="desig">CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item grey-bg2 text-center">
                    <h5 class="semi-title mb-25">Sed perspiciat unde omnis iste error voluptate accusanm doloremque lauda
                        totam rem aperiam eaque ipsa quaes
                        tore veritatis et quasi architecto</h5>
                    <div class="testimonial-author d-flex align-items-center justify-content-center">
                        <div class="author-img mr-20">
                            <img src="assets/img/testimonial/testimonial2.png" alt="">
                        </div>
                        <div class="author-content text-left">
                            <h5 class="semi-title">Jon S. Svendsen</h5>
                            <span class="desig">CEO & Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial-area end-->