 <!--page-title-area start-->
 <section class="page-title-area" style="background-image: url(assets/img/bg/page-title-bg1.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="page-title-wrapper">
                    <div class="page-title-inner">
                        <div class="page-title-inner-content theme-bg">
                            <div class="page-title">
                                <h1 class="main-page-title">Services</h1>
                            </div>
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title-area end-->
<!--we-do-area start-->
<section class="promotion-area pb-95">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="section-title text-center mb-75">
                    <h6 class="mb-20"><i class="far fa-plus"></i> What We Offer <i class="far fa-plus"></i></h6>
                    <h2>We offer caregiving services to the old and elderly</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="promotion text-center mb-30">
                    <div class="promotion__thumb">
                        <div class="person--img">
                            <img src="assets/img/promotion/img1.jpg" alt="">
                        </div>
                        <ul class="promotion--btn">
                            <li><a class="promotion-title" href="/services">Counselling</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="promotion text-center mb-30">
                    <div class="promotion__thumb">
                        <div class="person--img">
                            <img src="assets/img/promotion/img2.jpg" alt="">
                        </div>
                        <ul class="promotion--btn">
                            <li><a class="promotion-title" href="/services">Monitoring</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="promotion text-center mb-30">
                    <div class="promotion__thumb">
                        <div class="person--img">
                            <img src="assets/img/promotion/img3.jpg" alt="">
                        </div>
                        <ul class="promotion--btn">
                            <li><a class="promotion-title" href="/services">Refreshment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-100">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="chose-img mb-30" data-tilt-max="2" data-tilt="">
                    <img src="assets/img/chose/chose1.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="chose-wrapper pl-70 mb-30">
                    <div class="section-title text-left mb-40">
                        <h6 class="mb-20"><i class="far fa-plus"></i> Why Choose Us</h6>
                        <h2>Trusted & Experience
                            Senior Care Provider</h2>
                    </div>
                    <p class="left-line pl-25">We provide high quality and compassionate care services to the elderly, individuals with 
                        disabilities and other individuals in need of personal care in the comfort of their homes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--we-do-area end-->